@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lexend:wght@100..900&family=Young+Serif&display=swap');

:root{
    --pst-font-family-heading: "Young Serif", serif;
    --pst-font-family-base: "Lexend", sans-serif;
    --pst-font-family-monospace : "JetBrains Mono", monospace;
}